.grid-container {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(56, 1fr);

}

@media (max-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(40, 1fr);

    }
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(20, 1fr);

    }
}

@media (max-width: 480px) {
    .grid-container {
        grid-template-columns: repeat(10, 1fr);

    }
}

.grid-item {
    height: 15px;
    width: 15px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 1px;
}

.green {
    background-color: #A6FFA1;
}